<h1>Add</h1>
<form action="">
   <!--<label for="">Workout Type</label>
  <select ng-model="form.exersiseType" id="exerciseTypeInput">
    <option value="circuit">Circuit</option>
    <option value="hiit">HIIT</option>
    <option value="focused">Focused</option>

  </select>
  <br/>-->

  <!-- if circuit -->

  <!-- if hiit -->

  <!-- if focused -->
  <label for="exercise">Exercise</label>
  <select ng-model="form.exercise" id="exerciseInput">
    <option value="legs">Legs</option>
    <option value="back">Backs</option>
    <option value="arms">Arms</option>

  </select>
  <br/>
  <label for="set">Set: </label>
  <input ng-model="form.set" type="text" id="set">
    <br/>
  <label for="weight">Weight: </label>
  <input ng-model="form.weight" type="text" id="weight">
  <br/>
  <label for="reps">Reps: </label>
  <input ng-model="form.reps" type="text">
  <br />
   <input type="submit" ng-click="save()" value="Save" />

</form>

<form action="">
   <input type="text" ng-model="newFile"/>
   <input type="submit" ng-click="create()" value="create" />
</form>


<a ui-sref="home">Go to Home</a>
