<div ng-if="user!==null">
	<h1>Home</h1>
	<div>
	  <table>
	    <tr ng-repeat="file in data track by $index">

	     <!-- <td ng-repeat="col in row track by $index">{{col}}</td>-->
			<td>{{file.title}}</td><td>{{file.mimeType}}</td>
	    </tr>
	  </table>

	</div>
	<a ui-sref="add">Go to Add</a>
</div>
<div ng-if="user===null">
	<h1>Home</h1>
	<div>
	  <table>
	    <tr ng-repeat="row in data track by $index">

	      <td ng-repeat="col in row track by $index">{{col}}</td>
	    </tr>
	  </table>

	</div>
	<a ui-sref="add">Go to Add</a>

</div>
