<h1>Sign Up</h1>
<form class="" role="form">

  <label for="inputUsername">Username: &nbsp;</label>
  <input type="text" id="inputUsername" placeholder="Username" ng-model="login.email">
  <br />

  <label for="inputPassword" >Password: &nbsp;</label>
  <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
  <br />
  <label for="confirmInputPassword" >Confirm Password: &nbsp;</label>
  <input type="password" class="form-control" id="confirmInputPassword" placeholder="Password" ng-model="login.confirmPassword">
  <br />

  <button type="submit" ng-click="logIn()">Log In</button>

  </form>
